*{ /*Resetando config margin e padding na página toda*/
    margin: 0;
    padding: 0;
}

body{ /*Todo o conteúdo visual da página*/
    height: 100vh; /*100% tamanho da tela*/
    box-sizing: border-box; /*Limitar a margem*/
    background-color: #111111; /*Cor de fundo*/
    color: #F6F6F6; /*Cor da fonte*/
}

.destaque_titulo{ /*strong*/
    color: yellow;
}

.apresentacao{ /**/
    margin: 10% 15%; /*Topo/Fundo - Direita/Esquerda*/
    display: flex; /*section (col esq) e img (col dir)*/
    /*flex-direction: row;*/
    align-items: center; /*Colunas centralizadas*/
    justify-content: space-between; /*Espaço entre as colunas*/
    gap: 10%; /*Define o espaço acima*/
}

.apresentacao_conteudo{ /*section (col esq)*/
    width: 50%; /*Section ocupa 50% da largura da caixa main*/
    display: flex; /*h1, p e div*/
    flex-direction: column; /*Direção dos containers*/
    gap: 40px; /*Espaço entre as caixas*/
}

.apresentacao_conteudo_titulo{ /*h1 (col esq)*/
    font-size: 25px; /*Tamanho da fonte do título*/
    font-family: 'Krona One', sans-serif;
}

.apresentacao_conteudo_texto{ /*tag p (col esq)*/
    font-size: 20px;
}

.destaque_texto{
    color: yellow;
}

.apresentacao_links{ /*tag div (col esq)*/
    display: flex; /*2 caixas: botoes - tag a*/
    flex-direction: row; /*Botoes na horizontal*/
    justify-content: space-evenly; /*Espaço entre caixas*/
}

.apresentacao_links_link_L{ /*Botão a esquerda da div*/
    background-image: url("logo_batman.png"); /*Imagem de fundo do link*/
    background-size: 120px; /*Tamanho da imagem de fundo*/
    background-repeat: no-repeat; /*Para não repetir a imagem*/
    background-position: 14px -2px; /*Posição da imagem de fundo*/
    text-align: center; /*Centraliza o texto do botão*/
    font-size: 20px; /*Tamanho da fonte*/
    font-weight: 1px; /*Peso da fonte*/
    padding: 30px 30px; /*Distância do texto até a borda do botão*/
    text-decoration: none; /*Retira o sublinhado do texto*/
    color: white; /*Cor do texto*/
    font-family: 'Montserrat', sans-serif;
}

.apresentacao_links_link_R{ /*Botão a direita da div*/
    background-image: url("logo_batman.png"); /*Imagem de fundo do link*/
    background-size: 120px; /*Tamanho da imagem de fundo*/
    background-repeat: no-repeat; /*Para não repetir a imagem*/
    background-position: 7px -2px; /*Posição da imagem de fundo*/
    text-align: center; /*Centraliza o texto do botão*/
    font-size: 20px; /*Tamanho da fonte*/
    font-weight: 1px; /*Peso da fonte*/
    padding: 30px 30px; /*Distância do texto até a borda do botão*/
    text-decoration: none;/*Retira o sublinhado do texto*/
    color: white; /*Cor do texto*/
    font-family: 'Montserrat', sans-serif;
}